data/ignite_flow/flows/.flows.json.backup
[{"id":"351c698649bd4584","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e3c2b69a.c6db58","type":"subflow","name":"Sequelize: Connection","info":"### Description\nThis connector can be used to connect to various databases given the DbContext, Database URL, Dialect, SSL option and logging option.\n\nFollowing message properties needs to be provided to the connector.\n\n - DB_CONTEXT => DB_Context\n - DATABASE_URL => Connection url for database \n - DIALECT => Dialect of the database that you need to connect to.\n - SSL => SSL option for database, choose either true or false.\n - LOGGING => Logging option, either true or false.\n\n\n","category":"Database","in":[],"out":[],"env":[{"name":"DB_CONTEXT","type":"str","value":"RUNTIME_DATABASE"},{"name":"DATABASE_URL","type":"env","value":"DATABASE_URL"},{"name":"DIALECT","type":"str","value":"POSTGRES","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"POSTGRES"},"v":"POSTGRES"},{"l":{"en-US":"MSSQL"},"v":"MSSQL"},{"l":{"en-US":"MYSQL"},"v":"MYSQL"}]},"label":{}}},{"name":"SSL","type":"env","value":"DB_SSL_OPTION"},{"name":"LOGGING","type":"bool","value":"true"}],"color":"#399af3","icon":"ignite-connectors/sequelize.png","status":{"x":360,"y":60,"wires":[{"id":"c9f7bd27.435af","port":0}]}},{"id":"bdb37dd2.45963","type":"subflow","name":"Sequelize: Query","info":"### Description\nThis connector can be used to connect to the database using sQueries and sBinds. It also eliminates the risk of sql injections completely.\n\nFollowing message properties can which needs to be provided to the connector.\n\n - msg.sQuery => The sQuery for querying the database.\n - msg.sBinds => Binds for the sQuery\n\n---\n\n**Sample msg.sQuery and msg.sBinds**\n\n    msg.sQuery = `SELECT id FROM public.ignite_connectors WHERE name = $connector_id`\n    msg.sBinds = {\n    connector_id: msg.load.connector_id};\n    return msg;\n\n---\n\n","category":"Database","in":[{"x":60,"y":200,"wires":[{"id":"61485bdf.2b92c4"}]}],"out":[{"x":880,"y":260,"wires":[{"id":"6d95d36e.b0e70c","port":1}]},{"x":880,"y":160,"wires":[{"id":"6d95d36e.b0e70c","port":0}]}],"env":[{"name":"DB_CONTEXT","type":"str","value":"RUNTIME_DATABASE"},{"name":"Query","type":"str","value":""},{"name":"Parameters","type":"json","value":"{}"}],"color":"#F46224","outputLabels":["success","error"],"icon":"ignite-connectors/sequelize.png","status":{"x":460,"y":100,"wires":[{"id":"d2e03366.bd36d","port":0}]}},{"id":"135ddd8e.dd6e62","type":"function","z":"e3c2b69a.c6db58","name":"DB Database Connection Pooling","func":"node.status({fill:\"blue\",shape:\"ring\",text:\"connecting...\"});\nlet require = global.get('require');\nlet sequelize = require('sequelize');\nlet env_ssl = env.get('DB_SSL_OPTION');\nlet ssl = true;\n\nif(env_ssl && (env_ssl === \"false\" || env_ssl === false) ){\n    ssl = false;\n} else{\n    ssl = env.get(\"SSL\") || true;\n}\n\nlet connection = new sequelize(env.get('DATABASE_URL'), {\n    dialect:  env.get('DIALECT').toLowerCase(),\n    dialectOptions: {\n        ssl\n    },\n    logging : env.get('LOGGING') || false\n});\n\nglobal.set(env.get('DB_CONTEXT'), { connection });\n\nsetTimeout(function(){\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n}, 2000);","outputs":0,"noerr":0,"x":480,"y":120,"wires":[],"icon":"font-awesome/fa-handshake-o"},{"id":"492ce4d8.e36b5c","type":"inject","z":"e3c2b69a.c6db58","name":"","repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"refreshing","payloadType":"str","x":190,"y":120,"wires":[["135ddd8e.dd6e62"]]},{"id":"c9f7bd27.435af","type":"status","z":"e3c2b69a.c6db58","name":"","scope":null,"x":160,"y":60,"wires":[[]]},{"id":"4e5c81d3.205e9","type":"function","z":"bdb37dd2.45963","name":"Executing Query","func":"if(msg.event.sQuery && msg.event.sBinds){\n    node.status({fill:\"green\",shape:\"ring\",text:\"executing sql\"});\n    let db = global.get(env.get('DB_CONTEXT'));\n    db.connection.query(msg.event.sQuery,\n    {\n        bind: msg.event.sBinds\n    })\n    .then(([results, metadata])  => {\n        node.status({});\n        msg.payload = results;\n        msg.metadata = metadata;\n        msg.error = false;\n        node.send(msg);\n    }, error=>{\n        node.status({fill:\"red\",shape:\"dot\",text:\"SQL Error\"});\n        msg.payload = [];\n        msg.metadata = {};\n        msg.error = error;\n        node.send(msg);\n    });\n}else{\n    msg.error = \"No query(sQuery) or Binds(sBinds) found.\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"no query or binds provided\"});\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["372cc109.d2b42e"]]},{"id":"6d95d36e.b0e70c","type":"switch","z":"bdb37dd2.45963","name":"error ?","property":"error","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":200,"wires":[[],[]]},{"id":"3d464a3d.e0cca6","type":"comment","z":"bdb37dd2.45963","name":"Error","info":"","x":890,"y":100,"wires":[]},{"id":"5cee4219.1ef80c","type":"comment","z":"bdb37dd2.45963","name":"Success","info":"","x":920,"y":320,"wires":[]},{"id":"d2e03366.bd36d","type":"status","z":"bdb37dd2.45963","name":"","scope":null,"x":160,"y":100,"wires":[[]]},{"id":"61485bdf.2b92c4","type":"function","z":"bdb37dd2.45963","name":"Retrieve values","func":"msg.event = {\n    sQuery : msg.sQuery || env.get('Query'),\n    sBinds : msg.sBinds || env.get('Parameters') || {},\n};\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["4e5c81d3.205e9"]]},{"id":"372cc109.d2b42e","type":"change","z":"bdb37dd2.45963","name":"Delete Event","rules":[{"t":"delete","p":"event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":200,"wires":[["6d95d36e.b0e70c"]]},{"id":"508846a5fd668dff","type":"inject","z":"351c698649bd4584","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["6c32480a534e9146"]]},{"id":"a150629e.e3564","type":"subflow:e3c2b69a.c6db58","z":"351c698649bd4584","name":"","env":[{"name":"SSL","value":"true","type":"bool"}],"x":440,"y":60,"wires":[]},{"id":"476d4e22.cc924","type":"subflow:bdb37dd2.45963","z":"351c698649bd4584","name":"","env":[],"x":490,"y":160,"wires":[["8b42a41d6a8ee986"],["791612ec870d87d0"]]},{"id":"6c32480a534e9146","type":"function","z":"351c698649bd4584","name":"function 1","func":"msg.sQuery = `SELECT * FROM Users`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":160,"wires":[["476d4e22.cc924","3e6cfa7f3393019d"]]},{"id":"3e6cfa7f3393019d","type":"debug","z":"351c698649bd4584","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":200,"wires":[]},{"id":"8b42a41d6a8ee986","type":"debug","z":"351c698649bd4584","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"791612ec870d87d0","type":"debug","z":"351c698649bd4584","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":200,"wires":[]}]